
    body {font-family: Arial;}
    
  
    .container{
      display:grid;
      grid-template-columns: auto auto;
      align-items:center;
     
      /*
      align-items:flex-start;
      align-items:flex-end;
      
      
      flex-direction:column;
      */
      /* border: 1px solid red; */
    }
    /* .flex-c-container{
      border: 1px solid blue;
    }  */
    .icons{
      /* border: 1px solid black; */
      display: grid;
      align-items: center;

    }
    

    .flex-c-container > div {
      border:none;
      padding:50px 60px;
      text-align: center;
    }


    .my-image{
        display: block;
        margin: auto;
        width: 294px;
   
  }
  .tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
    @media (max-width: 750px) {
      .flex-container {
        flex-direction: column;
      }
    }